@media screen and (min-width:1200px) {
/* Menu */
#menuNavigation {
    height: 1080px;
    background-image: url("../img/leftFond.jpg");
    background-color: rgb(75, 80, 80);
}
#home {
    float: left;
    text-align: center;
    height: fit-content;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
#englishButton, #frenchButton {
    float: left;
    text-align: center;
    width: 50%;
    margin-top: 3%;
    height: fit-content;
}
#home + div {
    margin-top: 150px;
}
.navigationButton {
    float: left;
    text-align: center;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}
.col-lg-10 {
    padding-left: 0;
    padding-right: 0;
}
/* Bandeau du haut */
#topArea {
    height: 250px;
    background-image: url("../img/topFond.jpg");
}
#globalTitle {
    font-size: 30px;
    color: white;
    padding-left: 5%;
    padding-top: 2%;
}
#contentPageWelcome, #contentPagePresentation, #contentPageResume, #contentPageSkills, #contentPageContact {
    height: 830px;
    padding-top: 5%;
    background-image: url("../img/fondFeuilleFroisser.jpg");
}
/* page d'accueil   */
#contentHome, #contentContact {
    width: 646px;
    height: 486px;
    border-style: inset;
    margin-left: 20%;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
    background-image: linear-gradient(to right, grey , white 40px, white 560px, grey);
}
#myPictureHome {
    float: left;
    text-align: right;
    width: 320px;
    height: 480px;
}
#wellcomes {
    float: left;
    width: 320px;
    height: 480px;
    background-image: linear-gradient(to right, grey , white 40px, white 280px, grey);
}
#wellcomesTitle {
    padding-top: 30px;
    text-align: center;
}
#wellcomesText { 
    color: #7a7c7f; 
    font-size: 20px; 
    text-indent: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    font-family: "Libre Baskerville", serif; 
    line-height: 20px; 
    text-shadow: 0 1px 1px rgb(12, 12, 12); 
    padding-top: 20px; }
h2 { 
    color: rgb(141, 166, 219); 
    font-family: 'Rouge Script', cursive; 
    font-size: 30px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 1px 1px 2px #303131; 
}
/* Page présentation */
#presentation{
    float: left;
    margin-top: 5%;
    margin-left: 5%;  
    width: 90%;
    border-style: inset;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
    background-image: linear-gradient(to top, grey , white 5%, white 95%, grey);
}
#presentationTitle {
    text-align: center;
    padding-top: 3%;
}
#presentationPicture {
    float: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20px;
}
.presentationText {
    color: #7a7c7f; 
    font-size: 20px; 
    text-indent: 30px;
    padding-left: 360px;
    padding-right: 30px;
    text-align: justify;
    font-family: "Libre Baskerville", serif; 
    line-height: 20px; 
    text-shadow: 0 1px 1px rgb(12, 12, 12); 
    padding-top: 20px; 
}
/* Page formation */
#resume{
    width: 90%;
    height: 466px;
    margin-top: 5%;
    margin-left: 5%;
    border-style: inset;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
}
#resumeTitle, #skillsTitle, #contactTitle {
    padding-top: 1px;
    padding-bottom: 1px;
    height: fit-content;
    text-align: center;
    border-bottom-style: outset;
    background-image: url("../img/fondParchemin.jpg");
}
#parcourtInitial {
    float: left;
    width: 33%;
    height: 410px;
    background-image: linear-gradient(to right, grey , white 5%, white 95%, grey);
}
#fondBac {
    height: 146px;
    width: 90%;
    max-width: 420px;
    margin: 0 auto;
    background-image: url("../img/FondStJo.jpg");
}
#fondPrepa {
    margin-top: 5%;
    height: 132px;
    width: 90%;
    max-width: 420px;
    margin-left: 5%;
    background-image: url("../img/fondPierredAilly.jpg");
}
#urbanisme {
    float: left;
    width: 34%;
    height: 410px;
    background-image: linear-gradient(to right, grey , white 5%, white 95%, grey);
}
#fondPolytech {
    width: 90%;
    max-width: 440px;
    height: 263px;
    margin-top: 30px;
    margin: 0 auto;
    background-image: url("../img/fondPolytech.jpg");
}
div[id*="fond"] p {
    color: rgb(253, 253, 253);
    text-shadow: 2px 2px rgb(12, 12, 12); 
}
#pracourtDev {
    float: left;
    width: 33%;
    height: 410px;
    background-image: linear-gradient(to right, grey , white 5%, white 95%, grey);
}
.logoNumerique {
    float: left;
    width: 40%;
    max-width: 150px;
    margin-left: 5%;
}
#cnfdi, #lamanu {
    float: left;
    width: 90%;
    height: 150px;
}
#lamanu {
    margin-top: 30px;
}
h3 {
    text-align: center;
}
/* page compétences */
#skills{
    width: 90%;
    height: 558px;
    margin-left: 5%;
    margin-top: 5%;
    border-style: inset;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
}
#computerSkills {
    float: left;
    width: 33%;
    height: 503px;
    background-image: url("../img/fondBinaire.jpg");
}
#languageSkills {
    float: left;
    width: 34%;
    height: 503px;
    background-image: url("../img/fondWorld.jpg");
}
#otherSkills {
    float: left;
    width: 33%;
    height: 503px;
    background-image: url("../img/fondPageCarreaux.png");
}
#computerSkills fieldset, #languageSkills fieldset {
    background-color: rgba(255, 253, 253, 0.4);
    width: 80%;
    height: 120px;
    margin-top: 5%;
    margin-left: 10%;
    text-align: center;
    border-radius: 20px;
} 
legend {
    background-color: rgba(255, 253, 253, 0.5);
    border-radius: 4px;
    font-size: 15px;
    width: 32%;
    margin-left: 4%;
}
.skillsSubtitle {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 4px;
    text-align: center;
}
#computerSkills img {
    width: 18%;
    max-width: 64px;
}
#languageSkills img {
    float: left;
}
/* page Experiences */
#contentPageExperience {
    float: left;
    height: 2550px;
    background-image: url("../img/fondFeuilleFroisser.jpg");
}
#menuNavigationExperience {
    float: left;
    height: 2800px;
    background-image: url("../img/leftFond.jpg");
}
#ExperiencesTitle, #portfolioTitle {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-image: url("../img/fondParchemin.jpg");
    border-style: inset;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
}
.contentExperiences, .contentPortfolio {
    float: left;
    width: 90%;
    height: fit-content;
    min-height: 480px;
    border-style: inset;
    margin-top: 5%;
    margin-left: 5%;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
    background-image: linear-gradient(to top, grey , white 5%, white 95%, grey);
}
img[alt="Logo Complétude"], img[title*="Mairie"] {
    float: left;
    padding-top: 90px;
    padding-left: 30px;
}
.contentExperiences h3 {
    padding-top: 50px;
}
h3 + p {
    padding-top: 3%;
}
img[title="Nihongo Center"], img[title*="Chanel"] {
    float: left;
    padding-top: 40px;
    padding-left: 30px;
}
.experience1Paragraph {
    padding-right: 30px;
    padding-left: 360px;
    text-align: justify;
}
.experience2Paragraph {
    padding-right: 30px;
    padding-left: 460px;
    text-align: justify;
}
.experience3Paragraph {
    padding-right: 30px;
    padding-left: 550px;
    text-align: justify;
}
.experience4Paragraph {
    padding-right: 30px;
    padding-left: 380px;
    text-align: justify;
}
/* page Portfolio */
#contentPagePortfolio {
    float: left;
    height: 1450px;
    background-image: url("../img/fondFeuilleFroisser.jpg");
}
#menuNavigationPortfolio {
    float: left;
    height: 1700px;
    background-image: url("../img/leftFond.jpg");
    background-color: rgb(75, 80, 80);
}
img[alt*="capture"] {
    float: left;
    width: 50%;
    padding-top: 40px;
}
.contentPortfolio h3 {
    padding-top: 50px;
}
.contentPortfolio p {
    padding-right: 30px;
    padding-left: 52%;
    text-align: justify;
}
.contentPortfolio a {
    float: right;
    margin-right: 30px;
    margin-top: 6%;
}
/* page me contacter */
#postalAdress, #emailAdress {
    width: 520px;
    margin-left: 40px;
    border-bottom: 1px solid rgb(12, 12, 12);
    border-top: 1px solid rgb(12, 12, 12);
}
#postalAdress p, #emailAdress p {
    padding-left: 40px;
}
#emailAdress p {
    padding-top: 10px;
    padding-bottom: 10px;
}
#postalAdress img, #emailAdress a {
    float: right;
    padding-right: 40px;
}
}
@media screen and (max-width:767px) {
/* Menu */
#menuNavigation, #menuNavigationExperience, #menuNavigationPortfolio {
    height: 120px;
    background-image: url("../img/leftFond.jpg");
    background-color: rgb(75, 80, 80);
}
#home {
    float: left;
    text-align: center;
    height: fit-content;
    width: 100%;
    margin-top: -40px;
}
#englishButton, #frenchButton {
    float: left;
    text-align: center;
    margin-top: 3%;
    width: 50%;
    height: fit-content;
}
.navigationButton {
    float: left;
    text-align: center;
    height: fit-content;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Bandeau du haut */
.col-12 {
    padding-left: 0;
    padding-right: 0;
}
#topArea {
    height: 90px;
    background-image: url("../img/topFond.jpg");
}
#globalTitle {
    color: white;
    padding-left: 5%;
    padding-top: 2%;
}
h1 {
    font-size: 18px;
}
h3 {
    text-align: center;
    font-size: 15px;
}
#contentPageWelcome, #contentPageContact {
    height: 490px;
    padding-top: 20%;
    background-image: url("../img/fondFeuilleFroisser.jpg");
}
#contentPagePresentation {
    height: 490px;
    padding-top: 10%;
    background-image: url("../img/fondFeuilleFroisser.jpg");
}
/* page d'accueil   */
#contentHome, #contentContact {
    width: 326px;
    height: 246px;
    border-style: inset;
    margin-left: 5%;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
    background-image: linear-gradient(to right, grey , white 5%, white 95%, grey);
}
#myPictureHome {
    float: left;
    text-align: right;
    width: 160px;
    height: 240px;
}
#wellcomes {
    float: left;
    width: 160px;
    height: 240px;
    background-image: linear-gradient(to right, grey , white 10%, white 90%, grey);
}
#wellcomesTitle, #presentationTitle {
    padding-top: 5%;
    text-align: center;
}
#wellcomesText, .presentationText { 
    color: #7a7c7f; 
    font-size: 10px; 
    text-indent: 30px;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
    font-family: "Libre Baskerville", serif; 
    line-height: 10px; 
    padding-top: 5%; 
}
h2 { 
    color: rgb(141, 166, 219); 
    font-family: 'Rouge Script', cursive; 
    font-size: 20px; 
    font-weight: normal; 
    text-align: center; 
    text-shadow: 1px 1px 2px #303131; 
}
/* Page présentation */
#presentation{
    float: left;
    margin-top: 5%;
    margin-left: 5%;  
    width: 90%;
    border-style: inset;
    box-shadow: 8px 8px 12px rgb(75, 80, 80);
    background-image: linear-gradient(to right, grey , white 5%, white 95%, grey);
}
#presentationTitle {
    padding-right: 5%;
}
.presentationText {
    padding-right: 5%;
    padding-left: 5%;
}
#presentationPicture {
    float: left;
    padding-top: 5%;
    padding-right: 2%;
    padding-left: 5%;
}
/* page me contacter */
#postalAdress, #emailAdress {
    width: 80%;
    margin-left: 10%;
    border-bottom: 1px solid rgb(12, 12, 12);
    border-top: 1px solid rgb(12, 12, 12);
}
#postalAdress p, #emailAdress p {
    padding-left: 5%;
    font-size: 10px;
}
#postalAdress img, #emailAdress a {
    float: right;
    font-size: 10px;
}
}
@media screen and (min-width:768px) and (max-width:1199px) {

}
